<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="C:\Projeler\PetUI\src\app\_user\login\login.component.scss">
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="login-container">
          <div class="card rounded-circle">
            <div class="card-header bg-purple text-white">
              <h4 class="mb-0">Kullanıcı Girişi</h4>
            </div>
            <div class="card-body">
              <div class="animal-icons">
                <i class="fas fa-dog animal-icon"></i>
                <i class="fas fa-cat animal-icon"></i>
                <i class="fas fa-fish animal-icon"></i>
              </div>
              <form (ngSubmit)="login()">
                <div class="form-group">
                  <label for="username">Kullanıcı Adı</label>
                  <input type="text" id="username" class="form-control" placeholder="Kullanıcı adınızı girin" [(ngModel)]="username" name="username">
                </div>
                <div class="form-group">
                  <label for="password">Parola</label>
                  <input type="password" id="password" class="form-control" placeholder="Parolanızı girin" [(ngModel)]="password" name="password">
                </div>
                <button type="submit" class="btn btn-primary btn-block">Giriş Yap</button>
              </form>
              <div class="text-center mt-3">
                <a routerLink="/auth/register" class="btn btn-outline-primary btn-block">Üye Ol</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
